name: Build Guestbook
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm install
      - run: npm run build
      - name: Upload WASM
        uses: actions/upload-artifact@v3
        with:
          name: guestbook-wasm
          path: build/guestbook.wasm
